<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flickr Searcher</title>
		<!-- Meta Tags -->
		<meta charset="utf-8"/>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/style.css"/> 
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body ng-app="myApp" ng-controller="MyCtrl as vm">
		<!-- TITLE -->
		<div class=masthead>
			<h1>Flickr Searcher</h1>
		</div>
		
		<!-- SEARCH WRAPPER -->
		<section class="searchWrapper">
			<!-- FORM -->
			<form class="inputForm" name="vm.userInputForm" novalidate ng-submit="vm.searchFlickr(vm.searchTag)">
				<input class="searchBox" type="text" name="searchTag" ng-model="vm.searchTag" required></div>
				<input class="submitButton" type="submit">
			</form>			
		</section>

		<section class="loading" ng-show="vm.loading">
			<div>
				<h4>Loading</h4>
			</div>
		</section>

		<!-- RESULT WRAPPER -->
		<section class="resultWrapper">
			<div class="results" ng-show="vm.results">
        		<h3>We found {{ vm.results.length }} results for {{ vm.displayTag }}:</h2>
 				<div class="imageWrapper" ng-repeat="result in vm.results">
          			<img ng-src="{{ vm.trustSrc(vm.pictureUrl1 + result.farm + vm.pictureUrl2 + result.server + vm.pictureUrl3 + result.id + vm.pictureUrl4 + result.secret + vm.pictureUrl5) }}" frameborder="0" width="380" height="310"></img>
				</div>
			</div>
		</section>


		<!-- JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="js/myApp.js"></script>
		<!-- Load the angular-messages module and add in .js application as dependency -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
		<!-- Load the angular-animate module and add in .js application as dependency -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

		
	</body> 

</html>
